

.button-search-position{
 display: flex;
 justify-content: center;
 padding-top: 50px;
 align-items: center;
}
.button-search{
 display: flex;
 gap: 100px;
 justify-content: space-between;
}

.action-button{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 10px;
}

.add-user-button{
 background-color: black;
 border-radius: 100px;
 width: 100px;
 border: none;
 color: white;
 outline: none;
 font-size: 14px;
 padding: 7px;
 cursor: pointer;
 transition: all 0.3s ease-in-out;
 box-sizing: border-box;
}

.add-user-button:hover{
 background-color: white;
 color: black;
}

.action-button button{
 background-color: black;
 border-radius: 100px;
 width: 70px;
 border: none;
 color: white;
 outline: none;
 font-size: 14px;
 padding: 7px;
 cursor: pointer;
 transition: all 0.3s ease-in-out;
 box-sizing: border-box;
}

.action-button button:hover{
 background-color: white;
 color: black;
}